.pagination
  .pagination__btn
    .pagination__arrow.pagination__prev
      +icon('pagination-left','pagination__icon')
      span Пред
  .pagination__item ...
  .pagination__item.active 1
  .pagination__item 2
  .pagination__item 3
  .pagination__item 4
  .pagination__item 5
  .pagination__item ...
  .pagination__btn
    .pagination__arrow.pagination__next
      span След
      +icon('pagination-right','pagination__icon')