.form {
  $this: &;

  .button[type="submit"] { 
    margin-top: 40px;
    @include media(481px) { margin-top: 24px; }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__forgot {
    display: block;
    text-align: center;
    margin-top: 16px;
    font-weight: 300;
    color: var(--gray);
    transition: color var(--duration);
    @include media-min(769px) { &:hover { color: var(--black); } }
  }
  &__textarea {
    padding: 10px 20px;
    resize: none;
    line-height: normal;
    min-height: 80px;
    overflow: hidden;
  }
  &__agree {
    margin-top: 16px;
    user-select: none;
    pointer-events: none;
    &-icon {
      position: absolute;
      left: 3px;
      top: 3px;
      @include size(10px);
      fill: var(--white);
      transform: scale(0);
      transition: all .3s;
    }
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      & + label {
        display: block;
        position: relative;
        padding-left: 23px;
        gap: 7px;
        font-size: 12px;
        color: var(--gray);
        line-height: 120%;
        a { 
          color: var(--gray);
          pointer-events: all;
          span { border-bottom: 1px solid; }
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          display: inline-flex;
          @include size(16px);
          flex: 0 0 auto;
          border: 1px solid var(--gold);
          background-color: var(--white);
          transition: all .3s;
          border-radius: 4px;
        }
      }
      &:checked {
        & + label {
          #{$this}__agree-icon { transform: scale(1); }
          &:before {
            background-color: var(--gold);
          }
        }
      }
      &#{$this}__error {
        & + label:before { border-color: var(--red); }
      }
    }
    #{$this}__invalid {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__invalid { font-size: 12px; text-align: right; }
}