.categories
  ul.categories__list
    li.categories__item 
      a(href="#" class="categories__link")
        | Бурлящие шарики для ванн
    li.categories__item 
      a(href="#" class="categories__link")
        | Гели для душа
    li.categories__item 
      a(href="#" class="categories__link")
        | Интимная гигиена
    li.categories__item 
      a(href="#" class="categories__link")
        | Молочко для ванн
    li.categories__item 
      a(href="#" class="categories__link")
        | Мыло ручной работы
    li.categories__item 
      a(href="#" class="categories__link")
        | Пена для ванн
    li.categories__item 
      a(href="#" class="categories__link")
        | Соль для ванн
    li.categories__item 
      a(href="#" class="categories__link")
        | Шампунь & Гель для душа 2 в 1
    li.categories__item 
      a(href="#" class="categories__link")
        | Шоколад для ванн
