div
  div.js-tabs#tabs
    ul.js-tabs__list
      li
        a.js-tabs__tab(href="#") Title 1
      li
        a.js-tabs__tab(href="#") Title 2
      li
        a.js-tabs__tab(href="#") Title 3
      li
        a.js-tabs__tab(href="#") Title 4

    div.js-tabs__content
      h1 ONE
      p Shabby chic ennui cred godard, forage roof party scenester health goth typewriter pitchfork. Stumptown whatever fap, austin heirloom asymmetrical lo-fi ethical seitan. Post-ironic hella listicle brunch meggings artisan. YOLO tattooed blue bottle, fanny pack gluten-free put a bird on it migas forage trust fund.
    div.js-tabs__content
      h1 TWO
      p Shabby chic cred godard, forage roof party scenester health goth typewriter pitchfork. Stumptown whatever fap, austin heirloom asymmetrical lo-fi ethical seitan. Post-ironic hella listicle brunch meggings artisan. YOLO tattooed blue bottle, fanny pack gluten-free put a bird on it migas forage trust fund.
    div.js-tabs__content
      h1 THRE
    div.js-tabs__content
      h1 FOUR