section.s-about 
  .container  
    h2.section__title.about__title.text-center О нас
    .about
      .about__caption.about__col
        img(src=`${baseDir}/images/about/woman.png` alt="Woman" loading="lazy")
      .about__info.about__col
        p.about__descr Производство косметики «SAVONRY» базируется на принципах арома — и фитотерапии, при строгом соблюдении рецептур и технологий.
        p.about__text Здоровье, безопасность и благополучие наших клиентов — главные приоритеты для нас. Мы стремимся предоставить продукты высокого качества, использование которых доставит вам удовольствие.
        a(href="#" class="button about__button") Подробнее о нас 