section.s-catalog
  .container
    .catalog__inner
      h1.catalog__title Ванна и душ
      .catalog__caption
        img(src=`${baseDir}/images/catalog/banner.jpg` alt="Savonry")
      .catalog__descr
        p Изящные, грациозные и привлекательные шарики для ванн от «Savonry» позволят получить новые, потрясающие ощущения от проведения расслабляющей SPA-процедуры. Волшебные «бомбочки» обладают невероятным эффектом: они увлажняют кожу, делают ее невероятно гладкой и шелковистой. Обещаем, вы получите максимум удовольствия!
        p Каждый шарик для ванн изготовлен вручную и имеет свою особенную уникальность. Выберите тот, который подойдет именно вам. С морской солью, а может быть с увлажняющим комплексом или с бархатистой пеной. Эффект шампанского - шипучее растворение шариков в воде - пикантная «изюминка», дарящая необыкновенное наслаждение. Деликатный гидромассаж улучшит циркуляцию крови, снимет напряжение, окажет антисептическое воздействие, благотворно повлияет на самочувствие. Уже после первого применения вы ощутите всю палитру счастливых эмоций, которых так не хватает в нашем безумном мире.
    include ../../../components/categories/categories
