.like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 26px;
  height: 24px;
  top: 25px;
  right: 25px;
  cursor: pointer;
  padding: 3px 2px;
  background: url('../img/heart-core.svg') no-repeat;
  @include media(481px) { top: 15px; right: 15px; }
  &__icon {
    @include size(100%);
    fill: var(--gold);
  }
}