.callComponent
  .callComponent__btn
    +icon('phone','callComponent__btn-icon')
    .callComponent__popup
      a(href="tel:+74956625815").callComponent__phone
        .callComponent__phone-icon
          +icon('phone-line','callComponent__btn-icon')
        .callComponent__tel
          span +7 495 662-58-15
      .social
        a(href="https://t.me/odnajdysalon").social__item
          img(src=`${baseDir}/img/socials/social-tg.svg` alt="telegram")
        a(href="https://api.whatsapp.com/send/?phone=74956625815").social__item
          img(src=`${baseDir}/img/socials/social-whats.svg` alt="whatsapp")