.input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  padding: 10px 16px;
  height: 56px;
  color: var(--black);
  font-family: var(--base-font);
  transition: border var(--duration);
  &::placeholder {
    transition: opacity var(--duration);
    color: var(--gray);
  }
  &:focus {
    border-color: var(--black);
    &::placeholder {
      opacity: 0;
    }
  }
}