section.s-info
  .container
    .info
      .info__item
        h1.section__title.text-3xl Доставка и оплата
        h2.text-2xl.mb-8 Оплата заказа
        p На данный момент в нашем интернет магазине возможны четыре варианта оплаты:
        ul
          li наличными курьеру (только для Санкт-Петербурга)
          li банковской картой
          li квитанцией через банк
          li Яндекс Деньгами
        p Чтобы оплатить заказ банковской картой, банковским переводом, Яндекс Деньгами или наличными Вам необходимо выбрать соответствующий способ оплаты в графе "Способ оплаты" при оформлении заказа на сайте.
        p Наличными курьеру (СПб в пределах КАД): Оплата заказа производится наличными рублями курьеру при получении товара.
        p При оплате заказа банковской картой (100 % предоплата), обработка платежа происходит на сайте системы электронных платежей Сбербанка , которая прошла международную сертификацию. Это значит, что Ваши конфиденциальные данные (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена и никто, в том числе наш интернет магазин натуральной косметики и SavonryShop.ru не может получить персональные и банковские данные клиента.
        p ВНИМАНИЕ!!! К оплате не принимаются карты платежных систем Maestro и Visa Electron Оплаты принимаются только по картам, выпущенным на территории РФ!!!
        p При выборе способа оплаты квитанцией через банк, распечатайте квитанцию. Оплатите ее в любом отделении любого банка. ВНИМАНИЕ при данном способе оплаты банк удержит комиссию, размер которой определяется банком. Так же вы можете оплатить квитанцию через интернет банк, если у вас таковой имеется.
        p В настоящее время заказы принимаются через сайт только от физических лиц. Для того чтобы купить натуральную косметику Savonry юридическому лицу, Вам необходимо связаться с нашим офисом по контактным данным – в разделе контакты
      .info__item
        h2.text-2xl.mb-8 Доставка и оплата заказов интернет магазина
        h3.text-xl.font-normal.mb-6 Доставка по России
        p Доставка заказов по России осуществляется следующими способами:
        p.text-lg.font-normal 1. Курьерскими службами DPD и СДЕК
        p При заказе от 2500 рублей курьерская доставка осуществляется бесплатно, при заказе на меньшую сумму стоимость доставки составит 350 рублей. Передача заказов службе доставки осуществляется в течение 1-3 рабочих дней после поступления оплаты на наш расчетный счет, только по рабочим дням. Курьерские службы доставляют заказы до двери в максимально короткие сроки.
        p.text-lg.font-normal 2. Почтой России
        p При заказе от 2500 рублей доставка Почтой России осуществляется бесплатно, при заказе на меньшую сумму стоимость доставки составит 250 рублей. Отправка заказов осуществляется в течение 1-3 рабочих дней после поступления оплаты на наш расчетный счет, только по рабочим дням.
        p.text-lg.font-normal 3. До пунктов выдачи заказов(ПВЗ)
        p Наша курьерская служба имеет более 1000 пунктов выдачи заказов по всей России. Пункты выдачи удобно расположены и их легко найти. При заказе от 2500 рублей доставка до ПВЗ осуществляется бесплатно. При меньшей сумме заказа стоимость доставки до ПВЗ будет составлять 300 рублей. Передача заказов курьерской службе осуществляется в течение 1-3 рабочих дней после поступления оплаты на наш расчетный счет, только по рабочим дням. После того как Ваш заказ поступит в пункт выдачи, на телефон придет SMS-оповещение, заказ хранится в пункте выдачи 14 календарных дней, возможно платное продление хранения.
        h3.text-xl.font-normal.mb-6 Доставка по СПБ
        p Оплата заказов производится курьеру при получении товара, возможна оплата банковской картой, Яндекс Деньгами либо по квитанции через банк (100% предоплата).
        p При оформлении заказа в Санкт-Петербурге заказ возможно получить следующими способами:
        p.text-lg.font-normal 1. Курьерская доставка
        p При заказе от 2500 рублей доставка заказов по Санкт-Петербургу в пределах КАД осуществляется бесплатно, при меньшей сумме заказа стоимость доставки составит 300 рублей. Доставка заказов осуществляется в течение 1-2 рабочих дней после оформления заказа, по будням с 11:00 до 18:00. Если заказ был предварительно оплачен (банковской картой, Яндекс Деньгами либо квитанцией), то доставка будет осуществлена в течение 1-2 рабочих дней после зачисления оплаты на наш расчетный счет.
        p.text-lg.font-normal 2. Доставка до ПВЗ
        p Доставка до ПВЗ осуществляется после 100% оплаты заказа. При заказе 2500 рублей и более доставка до ПВЗ осуществляется бесплатно, при меньшей сумме заказа стоимость доставки будет составлять 250 рублей. Заказы передаются в службу доставки в течение 1-2 рабочих дней после поступления оплаты товара на наш расчетный счет. После того как Ваш заказ поступит в пункт выдачи, на телефон придет SMS- оповещение, заказ хранится в пункте выдачи 14 календарных дней, возможно платное продление хранения.
      .info__item
        h2.text-2xl.mb-8 Часто задаваемые вопросы
        .dropdown
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Как оформить заказ в интернет магазине?
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              | Выберите интересующие вас товары в каталоге интернет магазина. Оформление заказа осуществляется в разделе Корзина. Оформить заказ с помощью быстрой регистрации, или предварительно зарегистрировавшись в нашем интернет магазине в разделе Регистрация. После перехода в корзину выберите способ доставки и оплаты и нажмите кнопку Оформить. Подтвердите Ваши контактные данные. Письмо с подтверждением вашего заказа придет вам на указанный адрес электронной почты.
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Режим работы интернет магазина savonryshop.ru
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              .dropdown__container
                p Заказы в интернет магазине принимаются круглосуточно, в автоматическом режиме. Обработка и доставка заказов осуществляется в рабочие дни с 9:30 до 17:30 по Мск.
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Подтверждение заказа в интернет магазине
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              .dropdown__container
                p После осуществления заказа на указанный вами адрес электронной почты должно прийти письмо с номером вашего заказа и описанием его содержимого. Если по какой-либо причине данное письмо вам не пришло, то свяжитесь с нами по адресу электронной почты zakaz@savonryshop.ru или позвонив по телефону +7-981-702-22-27 (в рабочие дни с 9:30 до 17:30 по Мск.).
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Как внести изменения в заказ?
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              .dropdown__container
                p Внимание! Вносить изменения в заказ возможно только ДО оплаты вами заказа! Если вы хотите добавить какой либо товар в заказ, вернитесь в каталог интернет магазина. Если вы хотите отказаться от какого либо товара, удалите его в разделе Корзина. Если у вас возникли, какие либо вопросы, которые вы не можете решить указанными способами необходимо написать нам письмо на наш электронный адрес zakaz@savonryshop.ru (круглосуточно) или позвонить по телефону +7-981-702-22-27 (в рабочие дни с 9:30 до 17:30 по Мск.).
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Возврат заказа приобретенного интернет магазине
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              .dropdown__container
                p Если у вас есть причина для возврата товара, то здесь вы можете найти информацию как это можно сделать:
                ul 
                  li
                    | Товар не должен быть использован, и оригинальная упаковка должна быть неповрежденной;
                  li
                    | У вас должны иметься документы, подтверждающие оплату заказа – товарный чек, накладная или банковская квитанция;
                  li
                    | После получения всех необходимых данных мы вернем уплаченные вами деньги, в течение 30 календарных дней. Если вы действительно хотите вернуть заказ, пожалуйста свяжитесь с нами по электронной почте zakaz@savonryshop.ru, и мы отправим вам форму для возврата и обсудим его возможности.
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Можно ли проверить содержимое заказа и отказаться от заказа?
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              .dropdown__container
                p При получении заказа необходимо проверить целостность упаковки и внутреннее содержимое заказа. При обнаружении несоответствия внутреннего содержимого заказа, вы можете только полностью отказаться от заказа. Частичный отказ или возврат не предусмотрен.
          .dropdown__item.collapse
            .dropdown__top.collapse__top
              | Можно ли оформить заказ на другого человека?
              +icon('arrow-down','dropdown__icon')
            .dropdown__body.collapse__body
              .dropdown__container
                h3 По Санкт-Петербургу
                p Если вы оформляете заказ, а получателем будет другой человек, то в графе «Получатель» вам необходимо указать его ФИО, а так же точные контактные данные. Плательщиком может выступать любое физическое лицо, являющееся резидентом РФ.
                h3 По России
                p Если вы оформляете заказ, а получателем будет другой человек, то в графе «Получатель» Вам необходимо указать его ФИО, а также точные адрес доставки и индекс. Плательщиком может выступать любое физическое лицо, являющееся резидентом РФ