@mixin size($a, $border: false) {
  width: $a;
  height: $a;
  @if $border {
    border-radius: $border;
  }
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin hover() {
  &:hover { 
    @content;
  }
}

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus() {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin links ($link, $visited, $hover, $active) {
  & {
    color: $link;
    &:visited {
        color: $visited;
    }
    &:hover {
        color: $hover;
    }
    &:active, &:focus {
        color: $active;
    }
  }
}

@mixin media($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin line-clamp($count) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin fontFace($fontName, $fontFolder, $fontFileName, $fontWeight, $fontStyle, $woff2, $woff) {
  @font-face {
    font-family: $fontName;
    src: local($fontName), url('../fonts/' + $fontFileName + "." + $woff2) format($woff2);
    src: local($fontName), url('../fonts/' + $fontFileName + "." + $woff) format($woff);
    font-weight: $fontWeight;
    font-style: $fontStyle;
    font-display: swap;
  }
}
