.filterModal
  .filterModal__top
    .filterModal__close
      +icon('pagination-left','filterModal__close-icon')
      | Фильтры
    .filter__reset
      | Сбросить всё
  form.filterModal__body.filter-tabs
    .filterModal__col
      .filter__tabs
        .filter__tab.active(data-tab="filter-1")
          | Цена
        .filter__tab(data-tab="filter-2")
          | Материал
        .filter__tab(data-tab="filter-3")
          | Страна-изготовитель
        .filter__tab(data-tab="filter-4")
          | Год
        .filter__tab(data-tab="filter-5")
          | Объем, мл
        .filter__tab(data-tab="filter-6")
          | Персон
        .filter__tab(data-tab="filter-7")
          | Сюжет
        .filter__tab(data-tab="filter-8")
          | Бренд
        .filter__tab(data-tab="filter-9")
          | Стиль
        .filter__tab(data-tab="filter-10")
          | Для еды/напитков
        .filter__tab(data-tab="filter-11")
          | Особенности
        .filter__tab(data-tab="filter-12")
          | Цвет
    .filterModal__col
      .filter__item.active(data-tab="filter-1")
        .filter__price
          .sliderRange(data-min="0" data-component="rangeSelector" data-from="0" data-max="2259000" data-to="2259000")
            .sliderRange__inner
            .priceRange
              .priceRange__item
                span от
                input(type="number" value="0" data-min-input="0" class="priceRange__input priceRange__min" name="min")
              .priceRange__item
                span до
                input(type="number" value="30000" data-max-input="30000" class="priceRange__input priceRange__max" name="max")
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="price" id="price")
          label(for="price")
            +icon('check','filter__checkbox-icon')
            | Менее 20 000 ₽
            span 7
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="price" id="price1")
          label(for="price1")
            +icon('check','filter__checkbox-icon')
            | 20 001 - 30 000 ₽
            span 15
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="price" id="price2")
          label(for="price2")
            +icon('check','filter__checkbox-icon')
            | 30 001 - 50 000 ₽
            span 98
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="price" id="price3")
          label(for="price3")
            +icon('check','filter__checkbox-icon')
            | 50 001 - 100 000 ₽
            span 31
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="price" id="price4")
          label(for="price4")
            +icon('check','filter__checkbox-icon')
            | 100 001 ₽ и боле
            span 68
      .filter__item(data-tab="filter-2")
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="MLmaterial" id="MLmaterial")
          label(for="MLmaterial")
            +icon('check','filter__checkbox-icon')
            | Фарфор
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="MLmaterial" id="MLmaterial1")
          label(for="MLmaterial1")
            +icon('check','filter__checkbox-icon')
            | Стекло
      .filter__item(data-tab="filter-3")
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="MLcountry" id="MLcountry")
          label(for="MLcountry")
            +icon('check','filter__checkbox-icon')
            | Россия
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="MLcountry" id="MLcountry1")
          label(for="MLcountry1")
            +icon('check','filter__checkbox-icon')
            | Бельгия
      .filter__item(data-tab="filter-4")
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="MLyear" id="MLyear")
          label(for="MLyear")
            +icon('check','filter__checkbox-icon')
            | 1966
        .filter__checkbox.filter__checkbox--fill
          input(type="checkbox" name="MLyear1" id="MLyear1")
          label(for="MLyear1")
            +icon('check','filter__checkbox-icon')
            | 1974
      .filter__item(data-tab="filter-5")
        | dsdsds 5
      .filter__item(data-tab="filter-6")
        | dsdsds 6
      .filter__item(data-tab="filter-7")
        | dsdsds 7
      .filter__item(data-tab="filter-8")
        | dsdsds 8
      .filter__item(data-tab="filter-9")
        | dsdsds 9
      .filter__item(data-tab="filter-10")
        | dsdsds 10
      .filter__item(data-tab="filter-11")
        | dsdsds 11
      .filter__item(data-tab="filter-12")
        | dsdsds 12
    .filter__reset Сбросить
    button(type="submit" class="button button--fill") Применить