section.s-wholesalers
  .container 
    h1.section__title.text-3xl Оптовикам
    p Вы хотите увеличить продажи вашего магазина косметики или увеличить поток клиентов в спа-салон? Желаете, чтобы сумма по чеку была выше, а довольных покупателей, которые хотели бы вернуться больше?
    p Тогда Вам к нам!
    p Мы предлагаем эксклюзивную, 100% натуральную и качественную косметику SAVONRY ! Мы представлены на рынке с 2005 года, хорошо зарекомендовали себя и имеем в запасе много положительных отзывов.
    p Косметика SAVONRY является люксом не с точки зрения цены, но с точки зрения эксклюзивности. Она не может быть у каждого. Мы работаем только с проверенными небольшими сетевыми магазинами, поэтому косметика SAVONRY повышает лояльность именно к Вашему индивидуальному магазину. Она привлекает внимание своим оформление, натуральным безопасным составом и главное пользуется спросом!
    p Приглашаем к сотрудничеству магазины натуральной косметики и салоны красоты.
    p Мы работаем как с юридическими, так и с физическими лицами.
    p 
      | Для получения более подробной информации, условий сотрудничества и прайс-листа напишите, пожалуйста, нам на эл. почту: 
      a(href="mailto:mail@savonry.ru" class="orange") mail@savonry.ru 
      | или позвоните по телефону 
      a(href="tel:88005050103" class="orange") 8-800-505-01-03 
      | (звонок бесплатный). Мы с радостью ответим на все Ваши вопросы, предложим выгодные условия, сориентируем по самым ходовым товарам.