extends base/pug/main

append variables
  - var title = 'Доставка и оплата'
  - var pageClass = 'info-page'
  - var baseDir = '../static';

block content
  include components/breadcrumbs/breadcrumbs
  include components/section/info/info
