extends base/pug/main

append variables
  - var title = 'Оптовикам'
  - var pageClass = 'wholesalers-page'
  - var baseDir = '../static';

block content
  include components/breadcrumbs/breadcrumbs
  include components/section/wholesalers/wholesalers